<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="login.component.css">
  <style>
    .logo {
    display: block;
    margin: auto;
    }

  </style>
</head>
<body>
    
  <div class="container">
    <img src="assets/img/comida.png" alt="Logo de la empresa" class="logo">
    <h2>Iniciar Sesión</h2>
    <form action="#" method="post">
      <label for="username">Usuario:</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required>

      <input type="submit" value="Iniciar Sesión">
    </form>
    <p class="message">¿No tienes una cuenta? <a href="#">Regístrate</a></p>
  </div>
</body>
</html>

