<div class="row">
  <div class="col-12">
    <h1 class="text-center my-3">Mis Capacitaciones</h1>
  </div>


</div>
<div class="container-xl mt-5">
  <div class="table-responsive">
    <div class="table-wrapper">
      <table class="table table-striped table-hover table-bordered table-content">
        <thead class="bg-light">
          <tr class="text-center">
            <th>ID Capacitación Empleado</th>
            <th>ID Capacitación</th>
            <th>Fecha Asignacion</th>
            <th>Fecha Limite</th>
            <th>Fecha Completado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let capacitacion of capacitacionesEmpleado" class="text-center">
            <td>{{ capacitacion.idCapacitacionEmpleado }}</td>
            <td>{{ capacitacion.idCapacitacion }}</td>
            <td>{{ capacitacion.fechaAsignacion }}</td>
            <td>{{ capacitacion.fechaLimite }}</td>
            <td>{{ capacitacion.fechaCompletado }}</td>
          </tr>
          <tr *ngIf="capacitacionesEmpleado.length == 0">
            <td colspan="5" class="text-center text-muted">No se encontraron capacitaciones</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
